<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CliffApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DistributedChatMacApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C7982CC325BB851F000DC0F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7982CD425BB8522000DC0F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7982CDF25BB8522000DC0F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7BC334D25B3C00700989E95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7BC335E25B3C00900989E95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7BC336925B3C00900989E95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
